<style>

#login_form h1 {
  text-align: center;
}
body {
  background: #fef5fd;
}
#login_form {
  width: 37%;
  margin: 150px auto;
  padding-bottom: 40px;
  border: 1px solid #918274;
  border-radius: 15px;
  background: white;
}
#login_form input {
  width: 80%;
  height: 35px;
  margin: 10px 10%;
  font-size: 1.1em;
  padding: 4px;
  font-size: .9em;
}

#login_btn {
  height: 35px;
  width: 80%;
  margin: 5px 10%;
  color: white;
  background: #3B5998;
  border: none;
  border-radius: 5px;
}


#content{
  width: 50px;
  margin: 20px auto;
  border: 1px solid #cbcbcb;
}
form{
  width: 50%;
  margin: 20px auto;
}
form div{
  margin-top: 5px;
}

</style>